html, body{
  height: 100%;
}

.winner{
  color: green;
}

.scoreNumber{
  font-size: 10em;
  text-align: center;
  color: white;
}

.container{
  height: 90%;
}

.cont-small{
  height: 10%;
}

.col-player{
  background: pink;
  border: 10px solid white;
  height:100%;
  border-radius: 25px;
}

.halfSize{
  height: 50%;
}

.fullSize{
  height: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  }

  .justify-to-right{
    margin-top: 1.4rem;
    margin-left: 12rem;
    font-family: 'Raleway', sans-serif;
  }

p{
  margin-bottom: 0.2rem;
  font-family: 'Raleway', sans-serif;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  margin: 0px 5px 0px 5px;
  background: white;
  }
